mixin event-item(isShown, type, title, description, link)
  if (isShown)
    .col-md-6.text-left.mt-5.wow.fadeIn
      a(href=link, target='_blank')
        .event-item.d-flex.h-100
          if type == 'upcoming'
            img.my-auto.d-inline-block(src='img/events/upcoming.svg')
          else
            img.my-auto.d-inline-block(src='img/events/past.svg')
          .event-item-word.d-inline-block.my-auto.ml-3
            if type == 'upcoming'
              p.mb-1.type
                | UPCOMING
            else
              p.mb-1.type
                | PAST
            p.mb-1.title
              | #{title}
            p.mb-1.description
              | #{description}
  else
    .col-md-6.text-left.mt-5.hidden-event
      a(href=link, target='_blank')
        .event-item.d-flex.h-100
          if type == 'upcoming'
            img.my-auto.d-inline-block(src='img/events/upcoming.svg')
          else
            img.my-auto.d-inline-block(src='img/events/past.svg')
          .event-item-word.d-inline-block.my-auto.ml-3
            if type == 'upcoming'
              p.mb-1.type
                | UPCOMING
            else
              p.mb-1.type
                | PAST
            p.mb-1.title
              | #{title}
            p.mb-1.description
              | #{description}
section#events.page-section
  .container.text-center
    h2.wow.fadeIn EVENTS
    .event-item-container.mx-auto
      .row.mt-2
        +event-item(true, 'upcoming', 'Upcoming Dummy Event', '[2018-07-02] Seoul', '#')
        +event-item(true, 'past', 'CodeChain Connect', '[2018-06-27] Seoul', 'https://medium.com/codechain/codechain-connect-2018-6-27-739f52ffd814')
        +event-item(true, 'past', 'CodeChain Seminar - Interchain and Sharding', '[2018-06-20] Seoul', 'https://docs.google.com/presentation/d/1woHERW1TS4ZpSWrynKHk-RRiMl3-ZTrjKdVY3QzBY_k/edit?usp=sharing')
        +event-item(true, 'past', 'CodeChain Seminar - Script Language', '[2018-06-14] Seoul', 'https://docs.google.com/presentation/d/1E9efuCuTLT2E7gIbfPVezuAWhJMHakHr9x8zqLpt6Dg/edit?usp=sharing')
        +event-item(false, 'past', 'IEEE Blockchain Summit Korea 2018', '[2018-06-07~08] Seoul', 'http://sites.ieee.org/bcsummitkorea-2018/')
        +event-item(false, 'past', 'CodeChain Seminar - Blockchain Storage', '[2018-05-27] Seoul', 'https://docs.google.com/presentation/d/1HtXdipYotF9DKmXJhP0c2OEgLCGEj1cxCP0jEuTeS8w/edit?usp=sharing')
        +event-item(false, 'past', 'CodeChain Seminar - P2P Network', '[2018-05-27] Seoul', 'https://docs.google.com/presentation/d/1qYBKe8RONh3JKdRrwvKTuY_2p7FeQEJRR1oqep5lKmo/edit?usp=sharing')
        +event-item(false, 'past', 'CodeChain Seminar - BTF Consensus', '[2018-05-23] Seoul', 'https://docs.google.com/presentation/d/10W7gKEvk_6XRIlSdiKwnwP9gVzo5Re5m_24QzLGaqvk/edit?usp=sharing')
        +event-item(false, 'past', 'Blockchain Connect', '[2018-01-11] Seoul', 'https://onoffmix.com/event/123063')
    .show-more-btn.mx-auto.mt-5.wow.fadeIn#event-more
      | More
