mixin event-item(type, title, secondTitle, description, link, imageUrl)
  .event-item
    a(href=link, target='_blank')
      .img-container
        img(src=imageUrl)
      if (type == 'upcoming')
        .overlay.upcoming-overlay.text-left
          if(type == 'upcoming')
            p.type.upcoming-type.mb-1
              | UPCOMING : #{description}
          else
            p.type.past-type.mb-1
              | Past : #{description}
        p.text-left.title.mt-2.mb-2
          | #{title}#[br]#{secondTitle}
      else
        .overlay.text-left
          if(type == 'upcoming')
            p.type.upcoming-type.mb-1
              | UPCOMING : #{description}
          else
            p.type.past-type.mb-1
              | Past : #{description}
        p.text-left.title.mt-2.mb-2
          | #{title}#[br]#{secondTitle}
section#events.page-section
  .container-flude.text-center.mt-5
    h2.wow.fadeIn EVENTS
    .event-container
      .event-carousel.owl-carousel.owl-theme.mt-5.wow.fadeIn
        +event-item('upcoming', '2018', 'STO connect', 'November 13th, 2018', 'img/events/sto-full.jpg', 'img/events/sto.png')
        +event-item('upcoming', '2018', 'RustFest Rome', 'November 24th-25th, 2018', 'https://rome.rustfest.eu/', 'img/events/rome.png')
        +event-item('upcoming', '2018', 'BUIDL Seoul', 'November 29th-30th, 2018', 'https://buidl.kr/', 'img/events/buidl_seoul.png')
        +event-item('upcoming', '2018', 'Hyperledger Global Forum', 'December 12th-15th, 2018', 'https://events.linuxfoundation.org/events/hyperledger-global-forum-2018/?utm_source=hl-homepage&utm_medium=banner&utm_campaign=gf18', 'img/events/linux.png')
        +event-item('past', '2018', 'Fast campus FUTURECON', 'September 28th, 2018', 'https://www.fastcampus.co.kr/2018future_tech/', 'img/events/techcon.png')
        +event-item('past', '2018', 'Blockchain Game Summit', 'September 25th-26th, 2018', 'http://blockchaingamesummit.com/', 'img/events/blockchain-game-summit.png')
        +event-item('past', 'Information Technology and', 'Industry Prospects Symposium', 'September 14th-15th, 2018', 'http://www.kiise.or.kr/conference/iTIP/2018/', 'img/events/itip.png')
        +event-item('past', '2018', 'Upbit Developer Conference', 'September 13th-14th, 2018', 'https://udc.upbit.com/2018/', 'img/events/upbit-develop.png')
        +event-item('past', '2018', 'De-ference', 'August 11th, 2018', 'https://docs.google.com/presentation/d/1yUblAEnDDuEUoNrQp7ZsGxWuRaaaQmk5aU0MZLetHAQ/edit?usp=sharing', 'img/events/deference.jpg')
        +event-item('past', '2018', 'CodeChain Connect', 'June 27th, 2018', 'https://medium.com/codechain/codechain-connect-2018-6-27-739f52ffd814', 'img/events/codechain-connect.jpeg')
        +event-item('past', 'CodeChain Seminar', 'Interchain and Sharding', 'June 20th, 2018', 'https://docs.google.com/presentation/d/1woHERW1TS4ZpSWrynKHk-RRiMl3-ZTrjKdVY3QzBY_k/edit?usp=sharing', 'img/events/interchain-and-sharding.jpg')
        +event-item('past', 'CodeChain Seminar', 'Script Language', 'June 14th, 2018', 'https://docs.google.com/presentation/d/1E9efuCuTLT2E7gIbfPVezuAWhJMHakHr9x8zqLpt6Dg/edit?usp=sharing', 'img/events/script-language.png')
        +event-item('past', 'IEEE', 'Blockchain Summit Korea 2018', 'June 7th~9th, 2018', 'http://sites.ieee.org/bcsummitkorea-2018/','img/events/IEEE.jpg')
        +event-item('past', 'CodeChain Seminar', 'Blockchain Storage', 'June 5th, 2018', 'https://docs.google.com/presentation/d/1HtXdipYotF9DKmXJhP0c2OEgLCGEj1cxCP0jEuTeS8w/edit?usp=sharing', 'img/events/blockchain-storage.png')
        +event-item('past', 'CodeChain Seminar', 'P2P Network', 'May 30th, 2018', 'https://docs.google.com/presentation/d/1qYBKe8RONh3JKdRrwvKTuY_2p7FeQEJRR1oqep5lKmo/edit?usp=sharing', 'img/events/p2p-network.JPG')
        +event-item('past', 'CodeChain Seminar', 'BFT Consensus', 'May 23rd, 2018', 'https://docs.google.com/presentation/d/10W7gKEvk_6XRIlSdiKwnwP9gVzo5Re5m_24QzLGaqvk/edit?usp=sharing', 'img/events/bft-consensus.JPG')
        +event-item('past', '2018', 'Blockchain Connect', 'Jan 11th, 2018', 'https://onoffmix.com/event/123063','img/events/connect.jpg')
      #event-nav.owl-nav
