mixin media-item(isShown, icon, title, media, description, link)
  if (isShown)
    .col-12.wow.fadeIn
      a(href=link, target='_blank')
        .media-item.py-1.d-flex
          .media-word.d-inline-block.mr-auto.my-auto.py-3
            p.media-title.mb-1
              | #{title}
            p.description.media-date
              | [#{description}] #{media}
          img.my-auto.ml-3(src=icon)
  else
    .col-12.hidden-media
      a(href=link, target='_blank')
        .media-item.py-1.d-flex
          .media-word.d-inline-block.mr-auto.my-auto.py-3
            p.media-title.mb-1
              | #{title}
            p.description.media-date
              | [#{description}] #{media}
          img.my-auto.ml-3(src=icon)
section#media.page-section
  .container.text-center
    h2.wow.fadeIn MEDIA COVERAGE
    .media-item-container.mx-auto
      .row.mt-5.text-left
        +media-item(true, 'http://www.gametoc.co.kr/news/photo/201805/48048_91527_3644.jpg', '블록체인과 게임의 융합 "성남 커넥트 세미나" 개최', '한경닷컴 게임톡', '2018-05-29', 'http://gametoc.hankyung.com/news/articleView.html?idxno=48048')
        +media-item(true, 'http://image.zdnet.co.kr/2018/05/27/haeunsion_jwUrKpehNs.jpg', '2018 IEEE 블록체인 서밋 코리아 내달 7~8일 열려', 'ZDNet Korea', '2018-05-27', 'http://www.zdnet.co.kr/news/news_view.asp?artice_id=20180527184505')
        +media-item(true, 'https://btcmanager.com/wp-content/uploads/bfi_thumb/Blockchain-Apps-Are-Taking-Over-The-South-Korean-Market-nqnc4jpf55wjrg7niv7ya40o97952mghhc286qkox6.jpg', 'Blockchain Apps are Taking Over the South Korean Market, Cryptocurrency Incentive', 'BTCMANAGER.COM', '2018-05-24', 'https://btcmanager.com/blockchain-apps-are-taking-over-the-south-korean-market-cryptocurrency-incentive/')
        +media-item(true, 'img/media/mediacoverage.png', '가능성에서 현실로…블록체인 기반 게임 첫 출시', '머니투데이방송', '2018-05-18', 'http://m.mtn.co.kr/news/news_view.php?mmn_idx=2018051816011145214#_enliple#_enliple')
        +media-item(true, 'http://itimg.chosun.com/sitedata/image/201805/11/2018051185020_0.jpg', '코드박스, 블록체인 기반 모바일 러닝 게임 "고크립토봇" 출시', 'IT 조선', '2018-05-11', 'http://it.chosun.com/site/data/html_dir/2018/05/11/2018051185020.html')
        +media-item(false, 'http://image.zdnet.co.kr/2018/03/26/lyk_vPcTzfyvUMqTSfYl.jpg', '게임이 블록체인 킬러 앱 될 수 있다', 'ZDNet Korea', '2018-03-26', 'http://www.zdnet.co.kr/news/news_view.asp?artice_id=20180326023307')
        +media-item(false, 'http://res.heraldm.com/content/image/2018/03/26/20180326000694_0.jpg', 'Korea’s largest cryptocurrency exchange operator to invest W100b in blockchain tech', 'The Korea Herald', '2018-03-25', 'http://www.koreaherald.com/view.php?ud=20180326000656')
        +media-item(false, 'http://menu.mtn.co.kr/upload/article/2018/02/12/2018021216132745751_00_449.jpg', '[인터뷰] 케이큐브•두나무가 선택한 코드박스, “국내 첫 크립토 게임 출시하겠다”', '머니투데이방송', '2018-02-12', 'http://m.mtn.co.kr/news/news_view.php?id=2018021216132745751#_enliple')
        +media-item(false, 'http://platum.kr/wp-content/uploads/2018/02/180207_Kcube_Kodebox_logo2.jpg', '블록체인 기술 개발사 ‘코드박스’, 케이큐브벤처스와 두나무로부터 투자 유치', 'Platum', '2018-02-06', 'http://platum.kr/archives/95404')
    .show-more-btn.mx-auto.mt-4.wow.fadeIn.mt-5#media-more
      | More
