mixin media-item(isShown, icon, title, media, description, link, content)
  if (isShown)
    .col-12.wow.fadeIn
      a(href=link, target='_blank')
        .media-item.py-3.d-flex
          .media-word.d-inline-block.mr-auto
            p.media-title.mb-1
              | #{title}
            p.description.media-date
              | [#{description}] #{media}
            p.description.media-content
              | #{content}
          img.media-img.ml-2.ml-md-5(src=icon)
  else
    .col-12.hidden-media
      a(href=link, target='_blank')
        .media-item.py-3.d-flex
          .media-word.d-inline-block.mr-auto
            p.media-title.mb-1
              | #{title}
            p.description.media-date
              | [#{description}] #{media}
            p.description.media-content
              | #{content}
          img.media-img.ml-2.ml-md-5(src=icon)
section#media.page-section
  .container.text-center
    h2.wow.fadeIn MEDIA COVERAGE
    .media-item-container.mx-auto
      .row.mt-5.text-left
        +media-item(true, 'http://www.khgames.co.kr/news/photo/201809/114925_75116_4133.jpg', '[줌인-코드박스(KODEBOX)] 게임으로 블록체인 공략 나서는 ‘진짜’ 개발자 모인 스타트업', '경향게임스', '2018-09-21', 'http://www.khgames.co.kr/news/articleView.html?idxno=114925', '코드박스는 블록체인 기반 런(RUN) 게임 ‘고크립토봇’을 출시한 스타트업이다. ‘고크립토봇’은 2세대 블록체인 이더리움을 기반으로 제작된 게임으로, 코드박스는 블록체인을 공부하기 위한 방안으로 게임을 선택했다고 한다. 모바일게임 초창기 게임을 만들던 팀원들이 블록체인을 계기로 다시 모여 설립한 코드박스는 제대로 된 블록체인과 게임의 결합을 이뤄내겠다는 목표를 가지고 구슬땀을 흘리고 있다.')
        +media-item(true, 'http://www.thebchain.co.kr/news/photo/201808/1391_1492_245.png', '서비스 친화적인 퍼블릭 블록체인으로 승부', 'the bchain', '2018-08-22', 'http://www.thebchain.co.kr/news/articleview.html?idxno=1391', '서광열 코드박스 대표 "서비스 개발 경험 녹인 플랫폼 선보일 것.. 지금 나와 있는 것의 한계를 극복했다는 명분을 단 차세대 블록체인 플랫폼들이 쏟아지고 있다. 하지만 사용자 입장에선 쓸만한 블록체인 기반 서비스, 이른바 디앱(dapp)를 구경하기는 매우 힘든 것이 현실이다. 플랫폼과 디앱의 불균형이 해소되지 않으면 블록체인 생태계는 지속 가능성을 확보할 수 없다는 것이 전문가들의 한결같은 지적이다...')
        +media-item(true, 'http://fintechnews.sg/wp-content/uploads/2018/06/13-Most-Promising-Blockchain-Startups-in-Korea-1440x564_c.jpg', '13 Most Promising Blockchain Startups in Korea', 'FINTECH NEWS', '2018-06-23', 'http://fintechnews.sg/20781/korea/most-promising-blockchain-startups-in-korea/', 'Blockchain is a bit of a divided subject in Korea. With a few national controversies hitting the headlines such the controversial ban on ICOs and two crypto exchange hacks in as many weeks, you`d be forgiven for thinking that this is a volatile country for blockchain startups...')
        +media-item(true, 'http://newsimg.sedaily.com/2018/07/02/1S1XF1QYCK_3.jpg', '카카오벤처스 “백서 아이디어보단 실행 팀의 퀄러티가 중요”', '서울경제', '2018-07-02', 'http://www.sedaily.com/NewsView/1S1XF1QYCK', '2014년 코인원 투자 이후 4년 만인 올해 1월, 카카오벤처스는 코드박스에 씨드머니(Seed money)를 투자하며 블록체인 관련 포트폴리오를 추가했다. 최 팀장은 “코드박스는 블록체인 산업의 AWS(아마존웹서비스)를 지향하고 있다”면서 “기업들이 원하는 블록체인 특성을 쉽게 커스터마이징할 수 있게 하는 서비스를 제공한다”고 설명했다...')
        +media-item(true, 'http://cdn.greened.kr/news/photo/201806/66488_52947_4329.png', '블록체인 게임 "크립토키티"의 몰락, 이유는?', '녹색경제', '2018-06-28', 'http://www.greened.kr/news/articleView.html?idxno=66488', '게임 속 고양이 한 마리의 거래 금액이 1억 원을 호가, 성공한 블록체인 게임으로 꼽히는 "크립토키티"가 서서히 거품이 걷히고 있다. DAU가 1/30으로 줄었다. 그 이유가 "게임의 본질적인 재미" 때문이라는 분석이 나왔다...27일 서울 강남구 소재 잼투고에서 코드체인 설명회를 개최한 코드박스 조미선 이사는 세계 최초의 이더리움 기반 게임인 "크립토키티(CryptoKitties)"와 관련, 인사이트를 공개했다...')
        +media-item(false, 'img/media/media1.png', '코드박스 블록체인 세미나 개최', '포항공대신문', '2018-05-31', 'http://times.postech.ac.kr/news/articleView.html?idxno=20295', '지난 17일, 코드박스(Kodebox) 대표 서광열(컴공 99) 동문이 박태준학술정보관 502호에서 블록체인 세미나를 개최했다. 코드박스는 지금보다 똑똑한 자산 관리 시스템을 만드는 것을 목적으로 하는 블록체인 스타트업이다. 서 대표는 “우리는 비트코인(Bitcoin)과 달리 게임 아이템, 암호 화폐 거래 등 여러 가지 자산을 대량으로 거래하는 것에 초점을 맞추는 블록체인 엔진을 만드는 것이 목표이다”라며 코드박스가 연구하고 있는 "코드체인"을 소개했다...')
        +media-item(false, 'http://www.gametoc.co.kr/news/photo/201805/48048_91527_3644.jpg', '블록체인과 게임의 융합 "성남 커넥트 세미나" 개최', '한경닷컴 게임톡', '2018-05-29', 'http://gametoc.hankyung.com/news/articleView.html?idxno=48048','블록체인 기술을 활용한 게임산업의 새로운 생태계 조성을 위한 융복합 세미나인 ‘성남 커넥트 세미나’가 오는 31일, 성남산업진흥재단 대강당(정자역 킨스타워 7층)에서 개최된다. 성남 커넥트 세미나는 성남시가 주최하고 성남산업진흥재단이 주관하며 한국모바일게임협회가 운영한다. 세미나에서는 ‘블록체인&게임’을 주제로 전문가 강연과 ...')
        +media-item(false, 'http://image.zdnet.co.kr/2018/05/27/haeunsion_jwUrKpehNs.jpg', '2018 IEEE 블록체인 서밋 코리아 내달 7~8일 열려', 'ZDNet Korea', '2018-05-27', 'http://www.zdnet.co.kr/news/news_view.asp?artice_id=20180527184505', '국내외 블록체인 및 암호화폐 전문가들이 대거 참여하는 "2018 IEEE 블록체인 서밋 코리아(IEEE Blockchain Summit Korea 2018)"이 내달 7~8일 이틀간 서울 을지로 SKT타워 4층(슈펙스홀)에서 열린다. 이번 행사는 오는 9월 17-19일 미국 워싱턴에서 열리는 "IEEE 글로벌 블록체인 서밋(IEEE Global Blockchain Summit)"에 앞서 열리는 "한국 행사"다...')
        +media-item(false, 'https://btcmanager.com/wp-content/uploads/bfi_thumb/Blockchain-Apps-Are-Taking-Over-The-South-Korean-Market-nqnc4jpf55wjrg7niv7ya40o97952mghhc286qkox6.jpg', 'Blockchain Apps are Taking Over the South Korean Market, Cryptocurrency Incentive', 'BTCMANAGER.COM', '2018-05-24', 'https://btcmanager.com/blockchain-apps-are-taking-over-the-south-korean-market-cryptocurrency-incentive/','Some of the biggest conglomerates in South Korea such as Kakao and Naver have begun to develop blockchain applications to secure a position at the forefront of blockchain development. LINE is the most widely utilized messaging application in Japan. It owned by  South Korea’s largest search engine Naver, and Kakao, a local internet conglomerate that operates ...')
        +media-item(false, 'img/media/mediacoverage.png', '가능성에서 현실로…블록체인 기반 게임 첫 출시', '머니투데이방송', '2018-05-18', 'http://m.mtn.co.kr/news/news_view.php?mmn_idx=2018051816011145214#_enliple#_enliple', '가상화폐 열풍 이후 각종 블록체인 프로젝트들이 매일같이 쏟아지고 있습니다. 금융, 의료 등 여러 분야에 블록체인 기술을 접목해 새로운 서비스를 선보이겠다는 것인데요. 아직까지는 "가능성"만 말할 뿐 이렇다할 성과가 없었는데 한 스타트업이 블록체인 기반 모바일 게임을 출시해 주목받고 있습니다. 조은아 기자의 보도입니다...')
        +media-item(false, 'http://itimg.chosun.com/sitedata/image/201805/11/2018051185020_0.jpg', '코드박스, 블록체인 기반 모바일 러닝 게임 "고크립토봇" 출시', 'IT 조선', '2018-05-11', 'http://it.chosun.com/site/data/html_dir/2018/05/11/2018051185020.html', '고크립토봇은 단순한 웹 기반 크립토 게임에서 한 단계 진화한 유니티 엔진 기반의 모바일 게임이다. 기존 크립토 게임이 캐릭터 수집 및 판매 기능만 제공하는 반면, 고크립토봇은 캐릭터 수집, 업그레이드, 판매, 플레이어 간 대결(PvP) 등 게임의 다양한 요소를 이더리움 스마트 컨트랙트 기반으로 제공한다. 현재 고크립토봇은 애플 앱스토어와 구글 플레이스토어에서 다운로드 가능하다 ...')
        +media-item(false, 'http://image.zdnet.co.kr/2018/03/26/lyk_vPcTzfyvUMqTSfYl.jpg', '게임이 블록체인 킬러 앱 될 수 있다', 'ZDNet Korea', '2018-03-26', 'http://www.zdnet.co.kr/news/news_view.asp?artice_id=20180326023307', '암호화폐에 대한 사회적 논란이 뜨겁습니다. 그러나 그 논란과 상관없이 암호화폐의 기반 기술인 블록체인을 4차산업혁명 시대 새 성장 동력으로 삼아야 한다는 데에는 별 이견이 없습니다. 지디넷코리아는 이 시장의 저변을 확대하자는 차원에서 "블록체인 스타트업을 찾아서" 시리즈를 시작합니다...')
        +media-item(false, 'http://res.heraldm.com/content/image/2018/03/26/20180326000694_0.jpg', 'Korea’s largest cryptocurrency exchange operator to invest W100b in blockchain tech', 'The Korea Herald', '2018-03-25', 'http://www.koreaherald.com/view.php?ud=20180326000656', 'Dunamu, the operator of South Korea’s largest cryptocurrency exchange Upbit, backed by local mobile messaging giant Kakao, announced Monday that it plans to invest 100 billion won ($92.5 million) toward blockchain technologies over the next three years...')
        +media-item(false, 'http://menu.mtn.co.kr/upload/article/2018/02/12/2018021216132745751_00_449.jpg', '[인터뷰] 케이큐브•두나무가 선택한 코드박스, “국내 첫 크립토 게임 출시하겠다”', '머니투데이방송', '2018-02-12', 'http://m.mtn.co.kr/news/news_view.php?id=2018021216132745751#_enliple', '코드박스는 카카오의 투자 전문 회사 케이큐브벤처스와 가상화폐 거래소 업비트 운영사로 유명한 두나무가 최근 함께 투자에 나서며 화제가 됐다. 지난해 초 서광열 대표를 중심으로 한 4명의 멤버가 팀을 꾸렸고, 8월 법인 등록을 한 신생 회사지만, 국내 몇 안되는 블록체인 기술 업체라는 희소성이 코드박스의 가치를 도드라지게 했다...')
        +media-item(false, 'http://platum.kr/wp-content/uploads/2018/02/180207_Kcube_Kodebox_logo2.jpg', '블록체인 기술 개발사 ‘코드박스’, 케이큐브벤처스와 두나무로부터 투자 유치', 'Platum', '2018-02-06', 'http://platum.kr/archives/95404', '2017년 8월 설립한 코드박스는 블록체인 기반 기술 및 플랫폼을 개발한다. 10년 이상 IT 업계 CTO를 역임한 서광열 대표를 중심으로 이루어진 팀이다. 서광열 대표는 한국인 최초로 오픈소스 브라우저 엔진 ‘웹킷’의 커미터(프로젝트 개발 기여자)로 활동했고, 자바스크립트 표준화 기구 ‘Ecma TC39’ 위원으로서 Ecma 5 표준 제정에 기여한 바 있다...')
    .show-more-btn.mx-auto.mt-4.wow.fadeIn.mt-5#media-more
      | More
