mixin team-iteam(imgSrc, name, rank, mediumLink, GithubLink)
  .col-lg-4.col-md-6.wow.fadeIn.mb-3
    .item
      img.team-img(src=imgSrc, alt='')
      .team-caption
        p.lead.name.mt-3.mb-0
          | #{name}
        p.description.rank
          | #{rank}
        .line.mx-auto.my-3
        ul.list-inline.list-team-social
          li.list-inline-item
            a(href=mediumLink)
              i.fa.fa-medium.fa-fw
          li.list-inline-item
            a(href=GithubLink)
              i.fa.fa-github.fa-fw
section#team.page-section
  .container.text-center
    h2.wow.fadeIn TEAM
    .team-container.mt-5
      .row
        +team-iteam('img/team/team1.png', 'Kwang Yul Seo', 'CEO', '#', '#')
        +team-iteam('img/team/team1.png', 'Mi Sun Cho', 'Head of Business', '#', '#')
        +team-iteam('img/team/team1.png', 'Jae Yong Jo', 'COO', '#', '#')
        +team-iteam('img/team/team1.png', 'Ju Hyeong Park', 'Software Engineer', '#', '#')
        +team-iteam('img/team/team1.png', 'Jin Gyeong Jung', 'Software Engineer', '#', '#')
        +team-iteam('img/team/team1.png', 'Seul Gi Kim', 'Software Engineer', '#', '#')
        +team-iteam('img/team/team1.png', 'Seung Woo Kim', 'Software Engineer', '#', '#')
        +team-iteam('img/team/team1.png', 'Gil Young Kim', 'Software Engineer', '#', '#')
        +team-iteam('img/team/team1.png', 'Joon Mo Yang', 'Software Engineer', '#', '#')
        +team-iteam('img/team/team1.png', 'Kyung Hee Yim', 'Software Engineer', '#', '#')
        +team-iteam('img/team/team1.png', 'Gi Yoon Kim', 'Business Manager', '#', '#')
        // Join Us
        .col-lg-4.col-md-6.wow.fadeIn.mb-3
          .item
            img.team-img(src='img/team/join-us.svg', alt='')
            .team-caption
              p.lead.name.mt-3.mb-0
                | Join Us
              .rank
                | job@kodebox.io
              .line.mx-auto.my-3
              // Logo
