mixin team-iteam(imgSrc, name, rank, mediumLink, githubLink, twitterLink)
  .col-lg-4.col-md-6.wow.fadeIn.mb-3
    .item
      .team-img-container.mx-auto
        img.team-img(src=imgSrc, alt='')
      .team-caption
        p.name.mt-3.mb-0
          | #{name}
        p.description.rank.mb-1
          | #{rank}
        .line.my-2.mx-auto
        ul.list-inline.list-team-social
          li.list-inline-item
            if (mediumLink)
              a(href=mediumLink, target='_blank')
                img.active(src='img/team/medium.png')
            else
              img.inactive(src='img/team/medium.png')
          li.list-inline-item
            if (githubLink)
              a(href=githubLink, target='_blank')
                img.active(src='img/team/github.png')
            else if (twitterLink)
              a(href=twitterLink, target='_blank')
                img.active(src='img/team/twitter.png')
            else
              img.inactive(src='img/team/github.png')
section#team.page-section
  .container.text-center
    h2.wow.fadeIn TEAM
    .team-container.mt-5
      .row
        +team-iteam('img/team/1.png', 'Kwang Yul Seo', 'CEO', 'https://medium.com/@kwangseo', 'https://github.com/kseo')
        +team-iteam('img/team/2.png', 'Mi Sun Cho', 'CSO', 'https://medium.com/@misunsilviacho', '', 'https://twitter.com/kodebox_cho')
        +team-iteam('img/team/3.png', 'Jaeyong Jo', 'COO', 'https://medium.com/@jaeyoi', 'https://github.com/jaeyoi')
        +team-iteam('img/team/4.png', 'Juhyung Park', 'Software Engineer', 'https://medium.com/@majecty', 'https://github.com/majecty')
        +team-iteam('img/team/5.png', 'JinGyeong Jeong', 'Software Engineer', 'https://medium.com/@jjgjoojis', 'https://github.com/joojis')
        +team-iteam('img/team/6.png', 'Seulgi Kim', 'Software Engineer', 'https://medium.com/@seulgi.kim', 'https://github.com/sgkim126')
        +team-iteam('img/team/7.png', 'Seung Woo Kim', 'Software Engineer', 'https://medium.com/@koreanboy1120', 'https://github.com/ScarletBlue')
        +team-iteam('img/team/8.png', 'Gilyoung Kim', 'Software Engineer', 'https://medium.com/@xpdlf1004', 'https://github.com/xpdlf1004')
        +team-iteam('img/team/9.png', 'Joon Mo Yang', 'Software Engineer', 'https://medium.com/@joonmo.yang', 'https://github.com/Kais-DkM')
        +team-iteam('img/team/11.png', 'Gi Yoon Kim', 'Intern', 'https://medium.com/@kky2455')
        +team-iteam('img/team/12.png', 'GeunWoo Kim', 'Intern', 'https://medium.com/@posgnu', 'https://github.com/GNUp')
        +team-iteam('img/team/13.png', 'Hyunsik Jeong', 'Intern', 'https://medium.com/@rbtree', 'https://github.com/jhs7jhs')
        // Join Us!
        .col-lg-4.col-md-6.wow.fadeIn.mb-3
          .item
            .team-img-container.mx-auto
              img.team-img(src='img/team/join-us2.jpg', alt='')
            .team-caption
              p.name.mt-3.mb-0
                | Join us!
              p.description.rank.mb-1
                | hi@kodebox.io
