doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    meta(name='twitter:card', content='summary_large_image')
    meta(property='og:url', content='https://kodebox.io')
    meta(property='og:title', content='Kodebox')
    meta(property='og:description', content='A blockchain technology company on a mission to create and enable smarter asset management systems')
    meta(property='og:image', content='https://kodebox.io/img/facebook_og.png')
    title Kodebox
    // Bootstrap core CSS
    link(href='vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet', type='text/css')
    // Custom fonts for this theme
    link(href="https://fonts.googleapis.com/css?family=Hind:400,600,800,900|Poppins:400,600,800,900|Raleway:400,800|Roboto+Slab:400,600" rel="stylesheet")
    // Plugin CSS
    link(href='vendor/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='vendor/owl-carousel/assets/owl.carousel.min.css', rel='stylesheet', type='text/css')
    link(href='vendor/owl-carousel/assets/owl.theme.default.min.css', rel='stylesheet', type='text/css')
    link(href='vendor/magnific-popup/magnific-popup.css', rel='stylesheet', type='text/css')
    link(href='vendor/animate.css/animate.min.css', rel='stylesheet', type='text/css')
    link(rel="shortcut icon" type="image/x-icon" href="img/favicon.ico")
    // Custom styles for this theme
    // Uncomment the color scheme you want to use! Red is chosen by default!
    link(href='css/vitality.css?v=20190102', rel='stylesheet', type='text/css')
    script(type='text/javascript').
      var protocol = window.location.protocol
      if (protocol === 'http:') {
        window.location.replace(window.location.href.replace('http://', 'https://'))
      }
    script(async="" src="https://www.googletagmanager.com/gtag/js?id=UA-101144979-1")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag("js", new Date());
      gtag("config", "UA-101144979-1");
  body#page-top
    // Navigation
    include ./_includes/nav.pug

    div#announcement
      .container.h-100
        .row.h-100
          .col-12
            h2.title 공고
            table.table
              thead
                tr
                  th #
                  th 제목
                  th 등록일
              tbody
                tr(onclick=`window.location.hash="1";`)
                  th 1
                  th 특정주주에 대한 유상감자 채권자보호절차 공고
                  th 2020년 2월 18일
      .placeholder

      .announcement1.d-none
        .container.h-100
          .row.h-100
            .col-8.offset-2
              .content
                h4.mb-4.text-center 특정주주에 대한 유상감자 채권자보호절차 공고
                div 당사는 상법 제438조 제1항에 따라 2020년 2월 17일 주주총회 특별결의(주주전원동의)로 다음과 같이 특정주주에 대한 유상감자를 결의하였습니다.
                div.mt-2
                  span 당사는 상법 제439조 및 제232조에 따라 채권자보호절차를 당사의 공고방법인 인터넷 홈페이지(
                  a(href="https://kodebox.io") https://kodebox.io
                  span )에 게재하여 공고하오니, 유상감자에 이의가 있는 채권자는 이의제출기간 내에 이의를 제출하여 주시기 바랍니다.
                div.m-4.text-center
                  b
                    span.mr-4 다
                    span 음
                ol
                  li
                    b 감자대상 주식
                    span=" : "
                    span (주)빗썸코리아가 보유한 보통주 2,460주
                  li
                    b 유상감자 방식
                    span=" : "
                    span 주주 (주)빗썸코리아의 보유주식에 대한 유상감자를
                    br
                    span.indent-100 임의소각방식으로 진행한다.
                  li
                    b 감자 전 회사 발행 주식 및 자본금
                    span=" : "
                    span 61,500주 및 307,500,000원
                  li
                    b 감자 후 회사 발행 주식 및 자본금
                    span=" : "
                    span 59,040주 및 295,200,000원
                  li
                    b 이의제출방법
                    span=" : "
                    span 우편발송 또는 이메일 발송
                    ol.mt-1
                      li 우편발송 주소 : 서울특별시 강남구 테헤란로 129, 7층(역삼동)
                      li 이메일 발송 주소 : kseo@kodebox.io
                  li
                    b 이의제출기간
                    span=" : "
                    span 2020년 2월 18일부터 2020년 3월 20일까지

                  hr

                  div.p-4.text-center 2020년 2월 18일
                  div.m-4.text-center 주식회사 코드박스
                  div.text-center 대표이사 서광열
              .file
                a(href="./files/채권자보호공고_코드박스_20200218.pdf" download=true)
                  span.mr-1 첨부파일:
                  i.fa.fa-file-pdf-o.mr-1
                  span 채권자보호공고_코드박스_20200218.pdf


    // Footer
    include ./_includes/footer.pug
    // Bootstrap core JavaScript
    script(src='vendor/jquery/jquery.min.js')
    script(src='vendor/bootstrap/js/bootstrap.bundle.min.js')
    // Plugin JavaScript
    script(src='vendor/jquery.easing/jquery.easing.min.js')
    script(src='vendor/owl-carousel/owl.carousel.min.js')
    script(src='vendor/magnific-popup/jquery.magnific-popup.min.js')
    script(src='vendor/vide/jquery.vide.min.js')
    script(src='vendor/mixitup/mixitup.min.js')
    script(src='vendor/wowjs/wow.min.js')
    // Contact form JavaScript
    script(src='js/contact_me.js')
    script(src='js/jqBootstrapValidation.js')
    // Custom scripts for this theme
    script(src='js/vitality.js?v=3')
    script(src='js/mixitup-config.js')

    script.
      const updateContent = () => {
        if (location.hash === "#1") {
          $(".placeholder").addClass("d-none");
          $(".announcement1").removeClass("d-none");
        } else {
          $(".placeholder").removeClass("d-none");
          $(".announcement1").addClass("d-none");
        }
      }
      updateContent();
      window.addEventListener("hashchange", updateContent);
