mixin cc-event-item(title, date, link)
  if link
    a.upcoming-link(href=link, target='_black')
      li.upcomming-event-item
        i.fas.fa-calendar-alt.upcomming-item-icon
        | [#{date}] #{title}
        if link
          i.fas.fa-link.event-link-icon
  else
    li.upcomming-event-item
      i.fas.fa-calendar-alt.upcomming-item-icon
      | [#{date}] #{title}
      if link
        i.fas.fa-link.event-link-icon
ul.upcomming-event-item-list
  +cc-event-item('CodeChain Seminar 4, Supex Hall, T Tower, Seoul', '2018-06-13', '')
  +cc-event-item('CodeChain Seminar 5, Supex Hall, T Tower, Seoul', '2018-06-20', '')
